@import "react-datepicker/dist/react-datepicker.min.css";

.App {
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
  margin-top: 5px;
  border-radius: 10px 10px 0 0;
  h3 {
    color: white;
  }
}
.App-intro {
  font-size: small;
  margin: 0;

  .react-trello-board {
    background-color: var(--background-color, #3179ba);
  }
}
.App-intro button {
  padding: 2px 5px;
  background-color: #333;
  color: #fff;
  :hover {
    background-color: #262626;
    border-color: #262626;
    box-shadow: 0 8px 14px -8px rgba(38, 38, 38, 0.3), 0 3px 18px 0 rgba(38, 38, 38, 0.1), 0 7px 8px -4px rgba(38, 38, 38, 0.18);
  }
}
.hcxIaC {
  .hrfsDm{
    background-color: darkgray;
    color: white;
    width: 150px;
    padding-left: 5px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }
  .hrfsDm:hover {
    color: white;
    text-decoration: none;
    background-color: #838c91;
    transition: all 0.5s ease;
  }
}
.smooth-dnd-draggable-wrapper {
  .llcyZa {
    display: flex;
    flex-direction: column;
    button {
      justify-content: center;
      width: 150px;
      padding-top: 5px;
      border-radius: 10px;
      margin: 0 auto;
      background-color: darkgray;
      color: white;
    }
    button:hover {
      color: white;
      background-color: #838c91;
      transition: all 0.5s ease;
      box-shadow: 0 2px 2px 0 rgba(38, 38, 38, 0.1), 0 3px 1px -2px rgba(38, 38, 38, 0.18), 0 1px 5px 0 rgba(38, 38, 38, 0.15);
    }
    .gmVsUK {
      margin: 5px auto 5px;;
    }
  }
  .jimykH {
    border-radius: 5px;
  }
  border-radius: 10px;
  .dFVhfM {
    width: 100%;
  }
  .hUDGFU {
    text-align: center;
  }
  .hllpHf {
    text-align: center;
    display: block;
    margin-bottom: 0;
  }
  .laxART {
    border-radius: 10px;
  }
  .smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
    .laxAR {
      display: flex;
      flex-direction: column;
    }
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
