{% extends "../layout/dashboard.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/dashboard/assets/board/boards.css">
    <link rel="stylesheet" href="/webpack/front-assets/react/board.css">
{% endblock %}

{% block currentBoard %}
    <h1>{{ board.name }}</h1>
    <div class="react-trello-board" id="react-board-app" style="--background-color: {{ board.backgroundColor }};">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/webpack/front-assets/react/board.js"></script>
{% endblock %}
