@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
.trello-chat-container {
  width: 300px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.trello-chat-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.trello-chat-messages {
  height: 280px;
  overflow: auto;
  padding: 10px;
  background: #f9f9f9;
  scroll-behavior: smooth;
}

.trello-chat-form {
  display: flex;
  border-top: 1px solid #ccc;
}
.trello-chat-form input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}
.trello-chat-form button {
  padding: 10px;
  margin: 0;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.trello-chat-form button:hover {
  background-color: #005ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.trello-chat-name {
  padding: 5px;
  background-color: #b0d9fb;
  text-align: center;
  font-weight: bold;
  color: black;
}
.trello-message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
}
.trello-message.user-message {
  font-size: 17px;
  font-weight: bold;
  color: darkslategray;
}
.trello-message:nth-child(odd) {
  background-color: #e3f2fd;
}
.trello-message:nth-child(even) {
  background-color: #ffebee;
}
.chat-toggle-btn {
  right: 90px;
  background: #fff;
  border-radius: 50%;
  bottom: 30px;
  font-size: 1.25rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
#chat-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  right: 25px;
  bottom: 120px;
}
.chat-display {
  display: flex!important;
}
